body {
    background: white;
}

#bk-list {
    margin: 100px 50px;
    pointer-events: none;
}

#bk-list li {
    float: none;
    position: absolute;
    pointer-events: all;
    right: 0;
    top: 60px;
    width: 300px;
    height: 400px;
}

.bk-front,
.bk-front:after,
.bk-front .bk-cover,
.bk-front .bk-cover-back,
.bk-back,
.bk-left {
    background: inherit !important;
    border: none;
}

.bk-list li .bk-book.is-dragging,
.bk-list li .bk-book.is-dragging .bk-front {
    -webkit-transition-duration: 10ms;
    -webkit-transition-timing-function: linear;
}

.bk-list li .bk-back {
	box-shadow: 0 30px 40px -10px rgba(0,0,0,0.3);
}

.book-cover-image {
    width: 100%;
    height: 100%;
    -webkit-transform: translateZ(0px);
}

.bk-page {
    padding: 2em;
    overflow: hidden;
    text-overflow: ellipsis;
}

p.book-inner-text {
    font-family: georgia;
    color: #a59f99;
    padding: 1em;
    font-size: 9px;
}

p.book-back-text {
    color: rgba(255,255,255,0.5) !important;
}

.descriptive-text {
    max-width: 43%;
    font-size: 16px;
    float: left;
    margin-left: 2em;
    h3 {
        font-weight: normal;
        font-style: italic;
    }
    h1 {
        font-family: Helvetica Neue;
        margin-bottom: .25em;
    }
    p {
        margin-bottom: 1em;
        line-height: 1.5;
    }
    a.button {
        font: inherit;
        background: gray;
        color: white;
        padding: 1em;
        border-radius: 1em;
        border: none;
        &:active {
          background: black;
        }
    }
}

.tooltip {
  -webkit-transition: all 0.7s; 
  display: block;
  position: absolute;
  right: 480px;
  top: 440px;
  opacity: 1;
  &.hidden{
    opacity: 0;
  }
}

.bk-list li .bk-book.bk-viewinside {
	-webkit-transform: translate3d(-50px,0,250px) rotate3d(0,1,0,0deg);
	-moz-transform: translate3d(-50px,0,250px) rotate3d(0,1,0,0deg);
	transform: translate3d(-50px,0,250px) rotate3d(0,1,0,0deg);
}

.bk-list li .bk-book.bk-bookdefault:hover,
.bk-list li .bk-book.bk-bookdefault {
	-webkit-transform: rotate3d(0,-5,1,15deg) translateZ(0px);
}

.tease {
  -webkit-animation: tease 5s infinite; /* Chrome, Safari, Opera */
}

/* Chrome, Safari, Opera */
@-webkit-keyframes tease {
  20% {
    -webkit-transform: translate3d(0,0,20px) rotate3d(0,1,0,-8deg);
  }
  40% {
    -webkit-transform: translate3d(0,0,20px) rotate3d(0,1,0,0deg);
  }
  60% {
    -webkit-transform: translate3d(0,0,20px) rotate3d(0,1,0,-8deg);
  }
}

.on-top{
  z-index: 9999;
}

.bk-list li .bk-book.bk-viewside {
  -webkit-transition: all 1s;
  -webkit-transform: rotate3d(0,1,0,90deg);
  &.added-to-cart{
    -webkit-transition: all 1.5s;
    -webkit-transform:
      translate3d(1300px, -2450px, -12000px)
      rotate3d(0, 1, 0, 85deg)
      rotateX(0deg)
      rotateY(0deg)
      rotateZ(-10deg);
    & .bk-left{
//      -webkit-transform: rotate3d(0, 1, 0, -90deg) scale(0.5, 1);
    }
  }
}

.no-more-book {
  width: 340px;
  height: 450px;
  border: 1px dashed rgba(0,0,0,0.3);
//  background: rgba(0,0,0,0.1);
  position: absolute;
  top: 40px;
  right: 0px;
  z-index: -1;
  -webkit-transition: all 1s;
  &.shown {
    opacity: 1;
  }
  &.hidden {
    opacity: 0;
  }
}
