body {
    background: #eceadc;
    font-family: Baskerville;
}

#bk-list {
    margin: 100px 50px;
}

#bk-list li {
    float: none;
    position: absolute;
    right: 0;
    width: 300px;
    height: 400px;
}

.bk-front,
.bk-front:after,
.bk-front .bk-cover,
.bk-front .bk-cover-back,
.bk-back,
.bk-left,
.bk-right {
    background: inherit !important;
    border: none;
}

.bk-list li .bk-book.bk-bookdefault:hover {
    -webkit-transform: translateZ(0px);
}

.bk-list li .bk-book.is-dragging .bk-front {
    -webkit-transition-duration: 10ms;
    -webkit-transition-timing-function: linear;
}

.bk-list li .bk-back {
	box-shadow: 0 30px 40px -10px rgba(0,0,0,0.3);
}

.book-cover-image {
    width: 100%;
    height: 100%;
}

.bk-page {
    padding: 2em;
    overflow: hidden;
    text-overflow: ellipsis;
}

p.book-inner-text {
    font-family: georgia;
    color: #a59f99;
    padding: 1em;
    font-size: 9px;
}

.descriptive-text {
    max-width: 40%;
    float: left;
    margin-left: 2em;
    h3 {
        font-weight: normal;
        font-style: italic;
    }
    h1 {
        font-family: Helvetica Neue;
        margin-bottom: .25em;
        color: Tomato;
    }
    p {
        margin-bottom: 1em;
    }
    a.button {
        font: inherit;
        background: #9ecada;
        color: white;
        padding: 1em;
        border-radius: 1em;
        border: none;
        &:active {
            background: #123371;
        }
    }
}









