//*{
//  box-sizing: border-box;
//}
html, body{
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.list-view{
  -webkit-transition: all 0.8s ease-in-out;
  &.off-screen{
    -webkit-transform: translate(-100%, 0px);
//    -webkit-transition-delay: 0.8s; /* Safari */
  }
  input[type=text] {
    box-shadow: none;
  }
  #trigger-overlay{
      
  }
  .book-list{
    .book-item{
      padding-top: 20px;
      padding-bottom: 20px;
      width: 20%;
      height: 200px;
      float: left;
      -webkit-transition: all .5s;
      &.hide-title{
        img{
          max-height: 180px;
        }
        .title, .author{
          display: none;
        }
      }
      img{
        -webkit-transition: all .5s;
        max-height: 150px;
        margin: auto;
        display: block;
      }
      .author{
//        text-transform: capitalize;
        font-style: italic;
        margin-bottom: 10px;
      }
      .title{
        font-weight: normal;
//        text-transform: capitalize;
      }
      .price {
        position: absolute;
        display: block;
        top: 80px;
        right: 0px;
      }
      .highlighted{
        font-weight: bold;
        text-decoration: underline;
      }
      &:active {
        -webkit-transition-duration: 100ms;
        -webkit-transform: scale(1.05);
      }
    }
    & > div:last-child{
      border-bottom: none;
    }
  }
}
/*
body {
    padding-top: 75px;
    padding-bottom: 100px;
}
*/
.page-header {
    z-index: 100;
    top: 0;
    width: 100%;
    height: 75px;
    padding: 20px 0 25px;
    background: #e0e0e0;
    color: black;
    h1 {
        font-weight: 300;
    }
    .navigation {
        text-align: right;
        span {
            display: inline-block;
            padding: 10px;
            &.selected-link {
                background: gray;
                color: #e0e0e0;
            }
        }
    }
}

footer{
  display: block;
  font-size: 12px;
  padding: 5px;
  margin-top: 10px;
  text-align: center;
  width: 100%;
//  background-color: rgba(0,140,186,0.9);
}

.single-book-view{
  position: absolute;
  top: 0;
  width: 100%;
  -webkit-transition: all 0.7s ease-in-out;
  &.off-screen{
    -webkit-transform: translate(100%, 0px);
    -webkit-transition-delay: 0.2s; /* Safari */
  }
  .container{
    margin: auto;
  }
  .rygg-title{
    -webkit-transform: rotate(90deg);
    padding-left: 30px;
    font-family: georgia;
    color: rgba(255,255,255,0.5) !important;
    white-space: nowrap;
//    width: 500px;
//    text-align: center;
//    border: 1px solid black;

  }
}

.tag{
  border: 1px solid #e0e0e0;
  padding: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  display: inline-block;
  &.selected{
    border-color: gray;
    color: #e0e0e0;
    background: gray;
  }
}

.hide {
  display: none;
}

.shown {
    opacity: 1;
}
.hidden {
/*     opacity: .3; */
    -webkit-filter: blur(20px);
    -webkit-transform: scale(.7) translateZ(0px);
    pointer-events: none;
}




.search-box {
    position: relative;
    height: 60px;
    input[type=text] {
        height: 100%;
        font-size: 24px;
        font-weight: 400;
        background: #fafafa;
        &.has-no-text {
            border: none;
        }
    }
}


.back-button {
    text-align: center;
    width: 50px;
    font-size: 40px;
    margin-left: -50px;
    height: 500px;
    float: left;
    opacity: 1;
    -webkit-transition: opacity .5s;
    -webkit-animation: fading 2s linear;
    .off-screen & {
        opacity: 0;
    }
    &:active {
        color: black;
    }
}

@-webkit-keyframes fading {
    0%, 30% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}





