//*{
//  box-sizing: border-box;
//}
html, body{
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.list-view{
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
  -webkit-transition: all 0.8s ease-in-out;
  &.off-screen{
    -webkit-transform: translate(-150%, 0px);
  }
  input {
    margin-top: 20px !important;
    margin-bottom: 0 !important;
  }
  #trigger-overlay{
    margin-top: 20px !important;
    margin-bottom: 0 !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
  .book-list{
//    position: absolute;
//    top: 100px;
//    bottom: 0px;
    .book-item{
      padding-top: 20px;
      padding-bottom: 20px;
      width: 25%;
      height: 250px;
      float: left;
      -webkit-transition: all .5s;
      img{
        max-height: 150px;
        margin: auto;
        display: block;
      }
      .author{
//        text-transform: capitalize;
        font-style: italic;
        margin-bottom: 10px;
      }
      .title{
//        text-transform: capitalize;
      }
      .price {
        position: absolute;
        display: block;
        top: 80px;
        right: 0px;
      }
      .highlighted{
        background-color: #FFF519;
      }
    }
    & > div:last-child{
      border-bottom: none;
    }
  }
}

footer{
  display: block;
  font-size: 12px;
  padding: 5px;
  margin-top: 10px;
  text-align: center;
  width: 100%;
//  background-color: rgba(0,140,186,0.9);
}

.single-book-view{
  position: absolute;
  top: 0;
  width: 100%;
  -webkit-transition: all 0.8s ease-in-out;
  &.off-screen{
    -webkit-transform: translate(150%, 0px);
  }
  .container{
    margin: auto;
  }
}

.tag{
  border: 1px solid lightgray;
  padding: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  display: inline-block;
  &.selected{
    background: #ffff00;
  }
}

.hide{
  display: none;
}

.shown {
    opacity: 1;
}
.hidden {
    opacity: .3;
    -webkit-transform: scale(.8);
}