<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="main.css"/>
</head>
<body>

<div class="row">
    <section class="list-view small-12 small-centered">
        <div class="search-box small-10 small-offset-1">
            <input type="text" placeholder="Sök efter en bok" search-book-list" autofocus/>
        </div>
        <br/>
        <div class="book-list small-10 small-offset-1"></div>
    </section>
</div>


<script type="template" id="book-template">
    <div class="book-item">
        <div class="row">
            <div class="small-2 columns">
                <img src="<%= imageURL %>" alt=""/>
            </div>
            <div class="small-8 columns">
                <a href="#<%= index %>"><h3 class="title"><%= title %></h3></a>
                <p class="author">Av: <i><%= author %></i></p>
                <p><%= description %></p>
            </div>
            <div class="small-2 columns">
                <h2 class="price"><%= price %>:-</h2>
            </div>
        </div>
    </div>
</script>

<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/underscore/underscore.js"></script>
<script src="js/database.js"></script>
<script src="js/book_list.js"></script>
</body>
</html>