<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tilas bokförlag</title>
    <link rel="stylesheet" href="main.css"/>
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <script src="bower_components/modernizr/modernizr.js"></script>
</head>
<body>
<div class="page-header">
    <div class="row">
        <div class="small-12 small-centered columns">
            <div class="row">
                <div class="small-3 small-offset-1 columns">
                    <h1><em>Tilas</em></h1>
                </div>
                <div class="navigation small-7 columns end">
                    <span class="selected-link">Våra böcker</span>
                    <span>Just nu</span>
                    <span>Om Tilas Förlag</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="list-view">
    <div class="row">
        <div class="small-12 small-centered columns">
            <br/>
            <div class="row">
                <div class="tags small-7 small-offset-1 columns">
                </div>
                <div class="search-box small-3 columns end">
                    <input type="text" placeholder="Sök efter en bok" />
                </div>
            </div>
            <div class="row">
                <div class="book-list small-10 small-offset-1 columns"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns">
            <footer>
                <p>TILAS AB</p>
            </footer>
        </div>
    </div>
</div><!-- /list-view -->

<div class="single-book-view off-screen">
    <div class="container ">
        <!--<h4 class="tooltip">Öppna för att läsa!</h4>-->
        <div class="main">
            <!-- Template goes here -->
        </div>
    </div><!-- /container -->
</div> <!-- /single-book-view -->

<div class="overlay overlay-scale">
    <button type="button" class="overlay-close">Close</button>
    <nav>
        <ul>
            <li><a href="#">Hem</a></li>
            <li><a href="#">Tips & Nyheter</a></li>
            <li><a href="#">Kundservice</a></li>
            <li><a href="#">Kundvagn</a></li>
            <li><a href="#">Mitt Konto</a></li>
        </ul>
    </nav>
</div>


<!-- TEMPLATES -->
<script type="text/template" id="book-template">

    <div class="descriptive-text">
        <a class="button back-button" href="#">tillbaka</a>
        <h1><%= title %></h1>
        <h3>Författare: <%= author %></h3>
        <br />
<a class="button js-add-to-cart"><strong><%= price %>:-</strong> Lägg i min kundkorg</a>
        <br />
        <p><%= description %></p>
        <h5>Taggar: <%= tags.join(", ") %></h5>
    </div>
    <ul id="bk-list" class="bk-list clearfix">
        <li>
            <div class="bk-book book-1 bk-bookdefault" style="background: <%= color %>">
                <div class="bk-front tease">
                    <div class="bk-cover">
                        <!-- Framsida -->
                        <img src="<%= imageURL %>" class="book-cover-image"/>
                    </div>
                    <div class="bk-cover-back">
                        <!-- Insidan av pärm, framsida -->
                    </div>
                </div>
                <div class="bk-page">
                    <p class="book-inner-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <p class="book-inner-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <p class="book-inner-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                <div class="bk-back">
                    <p class="book-back-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
                <div class="bk-right"></div>
                <div class="bk-left">
                    <p class="rygg-title"><%= shortTitle %></p>
                </div>
                <div class="bk-top"></div>
                <div class="bk-bottom"></div>
            </div>
        </li>
        <li>
            <div class="no-more-book hidden"></div>
        </li>
    </ul>
</script>

<script type="text/template" id="book-list-item">
    <div class="book-item <%= hideTitle ? 'hide-title' : '' %> <%= show ? 'shown' : 'hidden' %>">
        <a href="#<%= index %>"><img src="<%= imageURL %>" alt=""/></a>
        <a href="#<%= index %>"><h4 class="title"><%= title %></h4></a>
        <p class="author">Av <i><%= author %></i></p>
    </div>
</script>

<script type="text/template" id="tags-template">
    <div class="label"><%= tag %></div>
</script>

<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/underscore/underscore.js"></script>
<script src="bower_components/hammerjs/hammer.min.js"></script>
<script src="bower_components/fastclick/lib/fastclick.js"></script>
<script src="bower_components/color-thief/dist/color-thief.min.js"></script>

<script src="js/classie.js"></script>
<script src="js/demo1.js"></script>
<script src="js/books1.js"></script>
<script src="js/database.js"></script>
<script src="js/app.js"></script>
</body>
</html>